USE [master]
GO
CREATE DATABASE [Contacto] ON  PRIMARY 
( NAME = N'Contacto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Contacto.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Contacto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Contacto_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contacto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contacto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TblContacto](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [SPContacto]
@opc int,
@Id int = null,
@Nombre varchar (50) = null,
@Telefono varchar (50) = null
as

if @opc = 1
begin
select * from TblContacto
end

if @opc = 2 
begin
insert into dbo.TblContacto(Id,Nombre,Telefono)
values (@Id,@Nombre,@Telefono)
end

if @opc = 3
begin
update dbo.TblContacto set 
Nombre = @Nombre,Telefono = @Telefono
where Id = @Id
end
if @opc =4
begin
delete from dbo.TblContacto
where Id = @Id
end

GO
USE [master]
GO
